#wrap{
    width:500px;
    margin:50px auto;
}
.field{
    display:flex;
    align-items: center;
    font-size:25px;
    gap:10px;
    margin-bottom:10px;
}
.field label{
    width:80px;
}
.field input{
    width:300px;
    font-size:25px;
    padding:3px 10px;
    border-radius: 7px;
    border-color: #ccc;
    outline: none;
}
.field input:focus{
    border-color: coral;
    border-width: 3px;
    outline: none;
}
#search{
    font-size:23px;
    border:0;
    background:darkgreen;
    color:#fff;
    border-radius: 7px;
    padding:3px 15px;
    cursor: pointer;
}
#search:hover{
    opacity: 0.7;
}